@model WebApplication233333333.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <input asp-for="ClientID" class="form-control" />
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdID" class="control-label"></label>
                <input asp-for="OrdID" class="form-control" />
                <span asp-validation-for="OrdID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymID" class="control-label"></label>
                <input asp-for="PaymID" class="form-control" />
                <span asp-validation-for="PaymID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientEvalID" class="control-label"></label>
                <input asp-for="ClientEvalID" class="form-control" />
                <span asp-validation-for="ClientEvalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddrID" class="control-label"></label>
                <input asp-for="AddrID" class="form-control" />
                <span asp-validation-for="AddrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
