@model WebApplication233333333.Models.Evaluation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evaluation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientEvalID" class="control-label"></label>
                <input asp-for="ClientEvalID" class="form-control" />
                <span asp-validation-for="ClientEvalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia" class="control-label"></label>
                <input asp-for="SocialMedia" class="form-control" />
                <span asp-validation-for="SocialMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductRating" class="control-label"></label>
                <input asp-for="ProductRating" class="form-control" />
                <span asp-validation-for="ProductRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceRating" class="control-label"></label>
                <input asp-for="ServiceRating" class="form-control" />
                <span asp-validation-for="ServiceRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
